---
apiVersion: apps/v1
kind: Deployment
metadata:
  name: my-deployment
spec:
  replicas: 2
  selector:
    matchLabels: 
      app: my-app
  template:
    metadata:
      labels:
        app: my-app
    spec:
      containers:
      - image: nginx:1.20
        name: nginx
        ports:
        - containerPort: 80
        env:
        - name: test204
          value: user200 
        envFrom:
        - configMapRef:
            name: my-configmap-env 
        - secretRef:
            name: my-secret     
             
...